.full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .new-contract-layout {
    width: 100%;
    display: flex;
    height: 100vh;
    padding: 30px 0;
    flex-direction: column;
    background: transparent;
    align-items: center;
    justify-content: flex-start;

    .header {
      display: flex;
      width: 100%;
      align-items: center;
      position: relative;
    
      .back-button {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: none;
        position: absolute;
        left: 0;
    
        img {
          width: 100%;
          height: auto;
        }
      }
    
      .header-text {
        margin: 0 auto; 
        text-align: center;
      }
    } 

    .banner-layout {
      margin-top: 20px;
      width: 90%;

      .banner-item {
          background: #CFFFE5;
          border-radius: 8px;
          padding: 8px;
          position: relative;

          .content {
            color: #5A9E67;
            font-size: 15px;
          }

          .banner-close {
              position: absolute;
              top: 5px;
              right: 5px;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              background: none;
          }
      }
    }

    .contacts-section {
      width: 90%;
      margin-top: 20px;

      .search-field {
         width: 100%;

         div {
          background: transparent;
          transition: all 0.1s ease-out;
          border: none;
          padding: 0;

          label {
            border-radius: 8px;
          }
         }

         .search-field {
          width: 100%;
         }
      }

      .contact-users {
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        .cell-item {
          width: 94%;
          padding: 0 12px;
          border-radius: 8px;
          background: #F9F9F9;

          .user-arrow {
            transform: rotate(180deg);
          }

          h6 {
            color: #000;
          }
        }
      }
    }
  }
}

.modal {
width: 90%;
max-width: 600px;
height: 260px; 
padding: 20px; 
border-top-left-radius: 24px;
border-top-right-radius: 24px;
overflow: hidden;

.modal-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .modal-close-button {
    background: none;
    padding: 0;
  }
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  .selected-username {
    font-size: 18px;
  }

  .continue-button {
    width: 100%;
    border-radius: 48px;
    background: #1375FA;
    height: 56px;

    h6 {
      font-weight: 400;
      font-size: 18px;
    }
  }
}
}

.modal-overlay {
width: 100%;
height: 100vh;
backdrop-filter: blur(10px);
background: #D9D6D6B2;
}
