.full-obl-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;

  .obligations-layout {
    width: 100%;
    display: flex;
    min-height: 100vh;
    padding: 10px 20px; // Reduced padding for mobile screens
    flex-direction: column;
    background-color: #f9f9f9;
    justify-content: flex-start;

    .header-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .back-button {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: none;
        img {
          width: 100%;
          height: auto;
        }
      }

      .header-text {
        text-align: center;
        flex-grow: 1;
      }
    }

    .progress-bar-container {
      width: 100%;
      display: flex;
      margin-top: 5px;
      justify-content: center;
      gap: 2px;

      .progress-item {
        width: 50%;
        height: 4px;
        background-color: #ddeafe;
      }

      .progress-bar.active {
        background-color: #1375fa;
      }
    }

    .stage-form-body {
      width: 100%;
      margin-top: 10px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .form-body-item {
        margin-bottom: 20px;
        width: 100%;

        .area-label {
          padding-left: 15px;
          font-size: 16px;
          margin-bottom: 8px;

          span {
            color: #1375fa;
          }
        }

        .textarea {
          padding: 10px;
          width: 100%;
          height: 140px; // Reduced height for better fit on mobile screens
          border-radius: 8px;
        }
      }

      .checkbox-container {
        padding: 0 15px;
        margin-bottom: 10px;

        label {
          display: flex;
          align-items: center;
          gap: 10px;

          p {
            font-size: 15px;
            display: flex;
            align-items: center;

            span {
              font-size: 15px;
              margin-left: 8px;
            }
          }
        }

        .user-info {
          display: flex;
          align-items: center;
          margin-left: 18px;
          background: #f9f9f9;
          border-radius: 4px;
          padding: 2px 8px;

          span {
            color: #0d0d0d;
          }
        }
      }
    }

    .bottom {
      padding: 15px 0;
      width: 100%;
      display: flex;
      justify-content: center;

      .continue-button {
        width: 90%;
        height: 48px; // Adjusted for better fit on mobile
        background-color: #1375fa;
        border-radius: 48px;
      }
    }
  }
}

.modal-content {
  width: 100%;

  .input-wrapper {
    width: 100%;

    .date-input {
      width: 100%;
      padding: 8px;
      border-radius: 8px;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .save-button {
      width: 90%;
      height: 48px; // Adjusted for better fit
      background-color: #1375fa;
      border-radius: 48px;
    }
  }
}
