.full-obl-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    align-items: center;

    .obligations-layout {
        width: 100%;
        display: flex;
        height: 100vh;
        padding: 15px 0;
        flex-direction: column;
        background: transparent;
        align-items: center;
        justify-content: flex-start;

        .header-container {
            display: flex;
            width: 100%;
            align-items: center;
            position: relative;
          
            .back-button {
              width: 26px;
              height: 26px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              background: none;
              position: absolute;
              left: 0;
          
              img {
                width: 100%;
                height: auto;
              }
            }
          
            .header-text {
              margin: 0 auto; 
              text-align: center;
            }
        }
        
        .progress-bar-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 10px;
          justify-content: center;
          gap: 2px;

          .progress-item {
            width: 50%;
            background-color: #DDEAFE;
          }

          .progress-bar.active div::after {
            background-color: #1375FA;
          }
        }

        .stage-form-body {
          width: 100%;
          display: flex;
          height: 90%;
          margin-top: 10px;
          flex-direction: column;
          align-items: flex-start;

          .form-body-item {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;

            .area-label {
              padding-left: 22px;
              padding-bottom: 8px;
              font-size: 16px;

              span {
                color: #1375FA;
              }
            }

            div {
              background: none;
              margin: 20px;
              padding: 0;
            }

            label {
              height: 150px;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              margin-top: -10px;
              border-radius: 8px;
              width: 100%;
              height: 100%;

              textarea {
                width: 100%;
                height: 150px;
              }
            }         
            
            .textarea {
              height: 160px;
            }
          }

          .checkbox-container {
            padding: 0 22px;
            margin: 4px;
            margin-top: 6px;

            label {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;

              p {
                font-size: 15px;
                display: flex;
                
                span {
                  font-size: 15px;
                  margin-left: 8px;
                }
              }
            }

            .user-info {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              margin-left: 18px;
              background: #F9F9F9;
              border-radius: 4px;
              padding: 2px 8px;

              span {
                color: #0D0D0D;
              }
            }
          }
        }

        .bottom {
          margin-bottom: 30px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            width: 90%;
            height: 58px;
            background: #1375FA;
            border-radius: 48px;

            h6 {
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
    }
}

.modal-content {
  width: 100%;

  .input-wrapper {
    width: 100%;

    div {
      padding-top: 0;
      padding-left: 2px;
      padding-right: 2px;
    }

    .date-input {
      width: 100%;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    .save-button {
      width: 90%;
      height: 58px;
      background: #1375FA;
      border-radius: 48px;

      h6 {
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}
